*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    padding: 2px;
    
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.container__left {
    width: 35%;
    background-color: lightslategray;
    padding: 16px;
}

.container__left__photo {
    width: 200px;
    height: 200px;
    background-image: url(photo.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 40px auto;
    padding-left: 0;
}

.container__left--profile {
    color: lightblue;

}

.container__left--profile-details{

}

.container__left--carrier-obj-header{
    text-transform: uppercase;
    color: lightblue;

}
.container__left--carrier-obj{

}
.container__left--contact-header{
    color: lightblue;

}
.container__left--contact{

}
.container__left--hobbies-header{
    color: lightblue;

}
.container__left--hobbies{

}
.container__left--hobbies-list{
    list-style: none;

}




.container__right {
    width: 50%;
    margin: 0 auto;
    padding: 150px 0;
}
.container__right--name {
    text-transform: uppercase;

}
.container__right--prof {

}    
.conatiner__right--experience-header {

}
.conatiner__right--experience {

}
.container__right--experiences{
    list-style: none;
}

.conatiner__right--education-header {

}
.conatiner__right--education {

}
.conatiner__right--educations {
    list-style: none;
}
.container__right--profskill-head{
    text-transform: uppercase;
}
.container__right--profskills{
    list-style: none;
}

.skillbar{
    background-color: lightblue;
    border-radius: 16px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.progress-bar{
    background-color:gray;
    border-radius: 16px;
    color: white;
    padding: 2px 16px;
}
.container__right--softskill-header{

}
.container__right--softskill{

}
.container__right--skills{
    margin-left: 20px;
    list-style: square;
}
